.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top of the page */
    width: 100%; /* Full width */
    background-color: white; /* Ensure the background is white */
    z-index: 1000; /* Ensure the navbar is above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.navbar .links {
    margin-left: auto;
}

.nes-btn {
    font-size: 12px;;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    justify-content: left;
    color: black;
    font-size: 12px;
}

.navbar a.active {
    color: black;
    text-decoration: underline;
}

.navbar a.inactive {
    color: lightgrey;
}

.navbar img {
    width: 90px; 
    height: 70px;
    margin: auto 10px;

}