.about {
    padding: 2rem;
    background-color: #FBFCF8;
}

.about-heading {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.about-heading h2 {
    font-size: 2rem;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
}

/* .about-heading h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #333;
    transition: width 0.5s ease-in-out;
    animation: underline-animation 1s forwards ease-in-out;
}

@keyframes underline-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
} */

.about-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.about-image {
    flex: 1;
    justify-content: center;
}

.about-image img {
    height: 400px;
    width: 400px;
    margin-left: 2.5rem;
    margin-top: 4rem;
}

.about-content {
    flex: 2;
    color: #333;
    margin-top: 2.5rem;
}

.about-content .title {
    font-size: 1.25rem !important;
    font-weight: bold !important;
    background-color: #FBFCF8 !important;
}

.about-content p {
    font-size: 0.8rem;
}

.about-content button {
    margin-top: 1.2rem;
}