.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background-color: #BFBFBF; */
    background-color: transparent;
    color: white;
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: 0 1rem;
}

.logo:hover {
    color: white;
    text-decoration: none;
}

.logo span {
    color: orangered;
}

.navbar-left {
    margin-left: auto;
    margin-right: 0.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.navbar-right {
    margin-right: auto;
    margin-left: 0.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left a,
.navbar-right a {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 1rem;
    position: relative;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
    outline: none; 
    word-spacing: -5px;
}

.navbar-left a:hover,
.navbar-right a:hover {
    color: white;
    text-decoration: none;
    outline: none;
}

.navbar-left a:visited,
.navbar-right a:visited {
    color: white;
    text-decoration: none;
}

.navbar-left a:focus,
.navbar-right a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

.navbar-left a::after,
.navbar-right a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    color: white;
    background-color: orangered;
    transition: width 0.4s ease;
}

.navbar-left a:hover::after,
.navbar-right a:hover::after {
    width: 100%;
}